@font-face {
    font-family: "Gilroy";
    src: url(/fonts/Gilroy-Medium.e7e7c091.woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mazius";
    src: url(/fonts/Mazius-Extraitalic.121a71a7.woff2);
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #fcfaf8;
}

/* -------- Loading Screen ---------- */

#loader {
    pointer-events: none;
}

.loader-bg {
    position: absolute;
    width: 100%;
}

#loader-bg-black {
    background-color: #161616;
    top: 0;
    height: 100%;
}

#loader-bg-green {
    background-color: #14cf93;
    bottom: 0;
    height: 0;
}

.loader-top-con {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 0.65vw;
    text-align: center;
}

.loader-top-con .reveal {
    font-weight: 300;
}

#loader .loading-anim {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#loader .loading-anim:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 2px;
    animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(1turn);
    }
}

#loader .author-name {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 120%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.diff-style {
    font-family: "Mazius";
    color: #14cf93;
    font-size: 5vw;
}

.reveal .parent {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
}

.reveal .parent .child {
    display: block;
}

.reveal .parent .child > span {
    display: inline-block;
    overflow: hidden;
}

/* --------- Header ------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    position: fixed;
    top: 6.5vh;
    left: 0;
    width: 100%;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #383838;
    display: block;
    font-size: 0.8vw;
    position: relative;
}

.header a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #4e4e4e;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: .1s;
}
.header a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #4e4e4e;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header a:hover::after {
    width: 0%;
}

.header a:hover::before {
    width: 100%;
}