@font-face {
    font-family: "Gilroy";
    src: url(/fonts/Gilroy-Medium.e7e7c091.woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mazius";
    src: url(/fonts/Mazius-Extraitalic.121a71a7.woff2);
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    width: 100%;
    background-color: #fcfaf8;
    text-rendering: optimizeLegibility;
}

#main {
    width: 100%;
}

/* -------- Loading Screen ---------- */

#loader {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.loader-bg {
    position: absolute;
    width: 100%;
}

#loader-bg-black {
    background-color: #161616;
    top: 0;
    height: 100%;
}

#loader-bg-green {
    background-color: #14cf93;
    bottom: 0;
    height: 0;
}

.loader-top-con {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-size: 0.5vw;
    text-align: center;
}

.loader-top-con .reveal {
    font-weight: 300;
}

#loader .loading-anim {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#loader .loading-anim:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 2px;
    animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(1turn);
    }
}

#loader .author-name {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4vw;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 120%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#loader .author-name .diff-style {
    color: #14cf93;
}

.diff-style {
    font-family: "Mazius";
}

#loader .author-name .parent {
    text-align: center;
}

.reveal .parent {
    display: block;
    overflow-y: hidden;
    width: 100%;
}

.reveal .parent .child {
    display: block;
}

.reveal .parent .child > span {
    display: inline-block;
    overflow: hidden;
}

/* --------- Header ------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    position: fixed;
    top: 6.5vh;
    left: 0;
    width: 100%;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #383838;
    display: block;
    font-size: 12px;
    position: relative;
}

.header a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #4e4e4e;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: .1s;
}
.header a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #4e4e4e;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header a:hover::after {
    width: 0%;
}

.header a:hover::before {
    width: 100%;
}

/* --------- Home Section ------------ */

.home {
    padding: 24vh 0 0 0;
    margin: 0 5vw;
}

.home-title-first {
    display: flex;
    align-items: start;
}

.home .home-title {
    font-size: 13vw;
    font-weight: 400;
    color: #383838;
}

.home-title-first-right {
    display: flex;
    padding-left: 10vw;
    padding-top: 8vh;
    color: #a2a2a2;
    font-size: 0.65vw;
    text-transform: uppercase;
}

.home-title-first-right .freelance-tag-line {
    margin-right: 10vw;
}

.home-title-first-right .freelance-tag-line .diff-style {
    vertical-align: bottom;
    font-weight: 600;
}

.home-title-first-right .available-time .current-time {
    vertical-align: bottom;
}

.home-title-second {
    display: flex;
    align-items: end;
}

.home-title-second-left {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 38%;
    margin-right: 4vw;
}

.home-title-second-left .arrow-down {
    padding-bottom: 6vh;
}

.home-title-second-left .arrow-down {
    width: 4.2vw;
}

.home-title-second-left .svg-anim svg {
    width: 18.4vw;
    height: 13.9vw;
}

#web>path {
    stroke: #14cf93;
    fill: none;
    stroke-width: 30px;
}

/* ----------------------------------------------------------------- */

.integration-main {
    padding: 80px 0 0 0;
}

.integration_button-row {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.integration_button {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2.5rem;
    justify-content: flex-start;
    align-items: center;
    padding: .875rem 1.25rem;
    display: flex;
    box-shadow: 0 10px 53.2px -2px rgba(0,0,0,.05);
}

.integration_btn-icon {
    color: var(--base-color-brand--primary-color);
    width: 1.5rem;
    height: 1.5rem;
}

.integration_btn-text {
    color: var(--base-color-black--grey-600);
    letter-spacing: -.32px;
    font-weight: 500;
    line-height: 1.25;
}

.integration_icons {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8rem;
    padding: 8em;
    display: flex;
    position: relative;
    overflow: hidden;
}

.integration_center-logo-wrap {
    z-index: 3;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.integration_outer-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.integration_inner-circle {
    z-index: 1;
    border-radius: 50%;
    width: 12.5em;
    height: 12.5em;
    position: relative;
    box-shadow: 0 12px 20px rgba(163,163,163,.2),inset 0 14.21px 67px rgba(225,225,225,.43);
}

.integration_inner-circle img {
    width: 100%;
}

.integration_center {
    width: 16em;
    height: 16em;
    position: relative;
}

.integration_line-left {
    z-index: 2;
    position: absolute;
    right: 14em;
}

.integration_line-left._1 {
    top: -3.8em;
}

.integration_line-left._2 {
    top: 3.6em;
}

.integration_line-left._3 {
    top: 6.8em;
}

.integration_line-left._4 {
    bottom: -2.8em;
}

.integration_line-left.left-mobile {
    display: none;
    top: 6.8em;
}

.integration_line {
    width: 39em;
    max-width: none;
    display: block;
}

.integration_line-right {
    z-index: 2;
    position: absolute;
    left: 14em;
}

.integration_line-right._1 {
    top: -3.8em;
}

.integration_line-right._2 {
    top: 3.6em;
}

.integration_line-right._3 {
    top: 6.8em;
}

.integration_line-right._4 {
    bottom: -2.8em;
}

.integration_tool-icon {
    z-index: 3;
    box-shadow: none;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.integration_tool-icon.left.back,.integration_tool-icon.right.back {
    display: none;
}

.integration_line-embed {
    z-index: 2;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.integration_tool-icon-wrap {
    z-index: 3;
    background-color: #fff;
    background-image: radial-gradient(circle,#0acf83 51%,rgba(255,255,255,0) 85.23%);
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    position: absolute;
    box-shadow: 0 6px 8px rgba(0,0,0,.05);
}

.integration_tool-icon-wrap._1 {
    top: -1.5em;
    left: 3em;
}

.integration_tool-icon-wrap._2 {
    top: -1.3em;
    left: 19.1em;
}

.integration_tool-icon-wrap._3 {
    top: -1.5em;
    left: 8em;
}

.integration_tool-icon-wrap._4 {
    top: 0;
    right: 6.5em;
}

.integration_tool-icon-wrap._5 {
    bottom: -1.6em;
    left: 12em;
}

.integration_tool-icon-wrap._6 {
    bottom: -1.6em;
    left: 2rem;
}

.integration_tool-icon-wrap._7 {
    bottom: 2.2em;
    right: 8.5em;
}

.integration_tool-icon-wrap._8 {
    top: -1.6em;
    right: 1.5em;
}

.integration_tool-icon-wrap._9 {
    top: -1.6em;
    right: 13em
}

.integration_tool-icon-wrap._10 {
    top: 0;
    left: 7em;
}

.integration_tool-icon-wrap._11 {
    top: -1.6em;
    right: 5.5em;
}

.integration_tool-icon-wrap._12 {
    bottom: -1.6em;
    right: 12.5em;
}

.integration_tool-icon-wrap._13 {
    bottom: -1.3em;
    left: 13.3em;
}

.integration_tool-icon-wrap._14 {
    bottom: -1.6em;
    right: 4.5em;
}

@media screen and (max-width: 991px) {

    .integration_icons {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 767px) {

    .integration_icons {
        margin-top: 3rem;
        margin-bottom: 4rem;
        padding-top: 10em;
        padding-bottom: 10em;
        overflow: hidden;
    }

    .integration_inner-circle {
        width: 18em;
        height: 18em;
    }

    .integration_center {
        width: 25em;
        height: 25em;
    }

    .integration_line-left {
        right: 9em;
    }

    .integration_line-left._1 {
        top: -5em;
    }

    .integration_line-left._2 {
        top: 6.5em;
    }

    .integration_line-left._3 {
        top: 10em;
    }

    .integration_line-left._4 {
        bottom: -4em;
    }

    .integration_line-left.left-mobile {
        display: none;
    }

    .integration_line {
        width: 70em;
    }

    .integration_line-right {
        left: 9em;
    }

    .integration_line-right._1 {
        top: -5em;
    }

    .integration_line-right._2 {
        top: 6.5em;
    }

    .integration_line-right._3 {
        top: 10em;
    }

    .integration_line-right._4 {
        bottom: -4em;
    }

    .integration_tool-icon {
        width: 8.5em;
        height: 8.5em;
    }

    .integration_tool-icon.left,.integration_tool-icon.left.back,.integration_tool-icon.right,.integration_tool-icon.right.back {
        display: inline-block;
    }

    .integration_tool-icon-wrap {
        width: 8.5em;
        height: 8.5em;
    }

    .integration_tool-icon-wrap._1 {
        display: none;
    }

    .integration_tool-icon-wrap._2 {
        top: -3.5em;
        left: 36.9em;
    }

    .integration_tool-icon-wrap._3 {
        display: none;
    }

    .integration_tool-icon-wrap._4 {
        top: -3.8em;
        right: 35.2em;
    }

    .integration_tool-icon-wrap._5 {
        bottom: -3.9em;
        left: 28.7em;
    }

    .integration_tool-icon-wrap._6 {
        display: none;
    }

    .integration_tool-icon-wrap._7 {
        bottom: -2.3em;
        right: 22em;
    }

    .integration_tool-icon-wrap._8 {
        top: -3.8em;
        right: 35.5em;
    }

    .integration_tool-icon-wrap._9 {
        display: none;
    }

    .integration_tool-icon-wrap._10 {
        top: -4em;
        left: 33em;
    }

    .integration_tool-icon-wrap._12 {
        bottom: -3.4em;
        left: 28.6em;
        right: auto;
    }

    .integration_tool-icon-wrap._13 {
        bottom: -2.3em;
        left: 22em;
    }

    .integration_tool-icon-wrap._14 {
        display: none;
    }
}

@media screen and (max-width: 479px) {

    .section-info_green-underline.integration {
        width: 5rem;
        right: .4rem;
    }

    .integration_button {
        padding: .4rem .6rem;
        font-size: .6rem;
    }

    .integration_btn-icon {
        width: 1.1rem;
        height: 1.1rem;
    }

    .integration_inner-circle {
        width: 18em;
        height: 18em;
    }

    .integration_center {
        width: 30em;
        height: 30em;
    }
}